<div class="subheader-container">
  <div class="subheader-content">
    <div class="subheader-links">
      <a [routerLink]="['/acerca-de']">
        <!--Permite cambiar la ruta, reeemplaza al href para direccionar a otro html-->
        <!--para que esto funcione hay que ir a generales.module.ts-->
        <!--y agregar en la parte de imports "RouterModule", sino no funciona el direccionamiento-->

        <div class="subheader-link">
          ACERCA DE
        </div>
      </a>
    <!-- <a href="como_funciona.html"> => Se reemplaza por:-->
      <a [routerLink]="['/como-funciona']">
        <div class="subheader-link">
          ¿CÓMO FUNCIONA?
        </div>
      </a>
    </div>
  </div>
</div>
